:root {
    /* Color variables */
    --primary-color: #3E57DA;
    --primary-color-hover: #595cdd;
    --secondary-color: #8c86ff51;
    --secondary-color-hover: #8c86ff79;
    --background-color: #f7f9fc;
    --text-color: #333;
    --light-gray: #e2e8f0;

    --gray-background-dashboard: #F9FAFB;
    --gray-background-border: #DADADA;

    /* Typography variables */
    --font-family: 'Roboto', sans-serif;
    --font-size-xs: 10px;
    --font-size-smaller: 12px;
    --font-size-small: 14px;
    --font-size-base:16px;
    --font-size-big: 18px;
    --font-size-bigger: 20px;
    --font-size-xl: 24px;

    /* Spacing variables */
    --spacing-small: 7px;
    --spacing-medium: 10px;
    --spacing-large: 2rem;

    /* Border variables */
    --border-radius: 6px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

--border-color-primary: rgba(99, 102, 241, 0.1);
}

